<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- By default, a bean will be a singleton,only once per spring container -->
	<bean id="beanObject" class="com.spring.f.beanScope.SpringBean"></bean>
	
	
	<bean id="beanObject1" class="com.spring.f.beanScope.SpringBean" scope="singleton"></bean>
	
	<!-- By prototype, new bean created with every request or reference -->
	<bean id="beanObject2" class="com.spring.f.beanScope.SpringBean" scope="prototype"></bean>
	
	
</beans>

