<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="beanObject" class="com.spring.f.beanPostProcessor.SpringBean">
		<property name="springtestA" ref="springtestA" />
		<property name="springtestB" ref="springtestB" />
		<property name="springtestC" ref="springtestC" />
	</bean>
	
	
	<bean class="com.spring.f.beanPostProcessor.DisplayNameBPP"></bean>
	
	
	<bean id="springtestA" class="com.spring.f.beanPostProcessor.SpringTest">
		<property name="valueA" value="1"/>
		<property name="valueB" value="2"/>
	</bean>
	<bean id="springtestB" class="com.spring.f.beanPostProcessor.SpringTest">
		<property name="valueA" value="3"/>
		<property name="valueB" value="4"/>
	</bean>
	<bean id="springtestC" class="com.spring.f.beanPostProcessor.SpringTest">
		<property name="valueA" value="5"/>
		<property name="valueB" value="6"/>
	</bean>
</beans>

