<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



	<bean id="beanObject" class="com.spring.g.properties.SpringBean">
		<property name="springtestA" ref="springtestA" />
		<property name="springtestB" ref="springtestB" />
		<property name="springtestC" ref="springtestC" />
	</bean>
	
	
	<!-- set the properties file location  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:com/spring/g/properties/SpringTest.properties"/>
	</bean>
	
	<!-- get the values from properties file  -->
	<bean id="springtestA" class="com.spring.g.properties.SpringTest">
		<property name="valueA" value="${springtestA.valueA}"/>
		<property name="valueB" value="${springtestA.valueB}"/>
	</bean>
	
	
	
	<bean id="springtestB" class="com.spring.g.properties.SpringTest">
		<property name="valueA" value="3"/>
		<property name="valueB" value="4"/>
	</bean>
	<bean id="springtestC" class="com.spring.g.properties.SpringTest">
		<property name="valueA" value="5"/>
		<property name="valueB" value="6"/>
	</bean>
</beans>

